html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1280px;
}


/** Header **/

header {
    background: linear-gradient(rgba(135, 80, 156, 0.6),rgba(135, 80, 156, 0.1)), url(images/hero_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 40px;
}

header .logo {
    width: 120px;
}

header .nav .nav-link {
    color: #000;
    font-weight: bold;
}

header .nav .nav-link:hover {
    color: gray;
}

header .content {
    max-width: 1000px;
    margin: auto;
    padding-top: 250px;
}

header .content .heading {
    font-weight: bold;
    letter-spacing: 2px;
}

header .content hr {
    color: red;
    height: 4px;
    max-width: 150px;
}

header .content .subtitle {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

header .content .btn {
    margin-top: 150px;
}